* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(255, 255, 255);
  background: rgb(0, 212, 255);
  background: linear-gradient(90deg, rgb(0, 180, 230) 0%, rgb(9, 9, 121) 100%);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.wrapper-comic {
  width: 100%;
  height: 100vh;
  color: white;
  background: rgb(10, 7, 3);
  background: linear-gradient(145deg, rgb(10, 7, 3) 50%, rgb(252, 199, 69) 100%);
  overflow-y: scroll;
}

.wrapper-comic .container-comic {
  position: relative;
  padding: 4% 7%;
}

.wrapper-comic .container-comic h1 {
  color: gold;
  margin-bottom: 5%;
}

.wrapper-comic .container-comic .container-image {
  width: 30%;
  height: 60%;
}

.wrapper-comic .container-comic .container-image a:hover {
  opacity: 0.5;
}

.wrapper-comic .container-comic .container-text {
  position: absolute;
  right: 5%;
  bottom: 10%;
  width: 45%;
  font-size: 110%;
}

.wrapper-comic .container-comic .container-text:hover {
  cursor: zoom-in;
  transform: scale(1.2);
}

.wrapper-comic .container-comic .details {
  margin-top: 4%;
}

.wrapper-comic .container-comic .details li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
  color: gold;
  margin: 1% 0;
}

.wrapper-comic .container-comic .details li:last-of-type {
  text-transform: capitalize;
}

.wrapper-comic .container-comic .back {
  margin-top: 4%;
}

.wrapper-comic .container-comic .back a {
  color: darkviolet;
  text-decoration: none;
}

.btn-insert-comic {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.btn-insert-comic a {
  color: white;
  position: fixed;
  margin: 2% 2%;
  cursor: pointer;
  font-size: 130%;
  background-color: rgba(0, 0, 0, 0.2);
}

.container-comics {
  padding: 1% 3%;
  width: 100%;
  height: 100%;
}

.container-comics h2 {
  margin: 1% 0;
}

.container-comics .overlay {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
}

.container-comics a:hover {
  opacity: 0.5;
}

.container-comics p {
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  padding: 1%;
}

.create-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100vh;
}

.create-container .box {
  margin: 4%;
  box-shadow: 2px 2px 2px 2px rgb(0, 115, 186);
}

.create-container input,
.create-container textarea,
.create-container select {
  width: 100%;
}

.create-container button {
  margin: 0 auto;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
}

.create-container a {
  margin-top: 5%;
  color: darkviolet;
  text-decoration: none;
}

