.btn-insert-comic {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    a {
        position: fixed;
        margin: 2% 2%;
        font-size: 130%;
        text-decoration: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.2);

        &:hover {
            transform: scale(1.1);
        }
    }
}
.container-comics {
    padding: 1% 3%;
    width: 100%;
    height: 100%;

    h2 {
        margin: 1% 0;
    }

    .overlay {
        width: fit-content;
        height: fit-content;
        background-color: black;

        img {
            width: 12rem;
            height: 19rem;
        }
    }
    a:hover {
        opacity: 0.5;
    }

    p {
        font-style: italic;
        text-transform: uppercase;
    }

    p:first-of-type {
        margin: 0 auto;
    }

    a {
        font-style: italic;
        text-transform: uppercase;
        color: yellow;
    }
}