.btn-insert-comic {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    a {
        color: white;
        position: fixed;
        margin: 2% 2%;
        cursor: pointer;
        font-size: 130%;
        background-color: rgba(0, 0, 0, 0.2);
    }
}
.container-comics {
    padding: 1% 3%;
    width: 100%;
    height: 100%;

    h2 {
        margin: 1% 0;
    }
        .overlay {
            width: fit-content;
            height: fit-content;
            background-color: black;
        }
        a:hover {
            opacity: 0.5;
        }

    p {
        font-style: italic;
        text-transform: uppercase;
        text-align: center;
    }

}